:root {
    box-sizing: border-box;
    color: white;
}
*, ::before, ::after{
    box-sizing: inherit;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg);
}
#header{
    background: black;
    padding: 5px;
    font-family: 'Cookie', cursive;
}
#logo{
    float: left;
    width: 15%;
}
#logo img{
    width: 60px;
    margin-left: 10px;
}
.menu{
    float: left;
    width: 75%;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    padding-right: 20px;
}
.menu ul li b{
    color: white;
    font-size: 1.4rem;
}
.menu ul li b:hover{
    color: #FFD77F;
    cursor: pointer;
}
.login-panel{
    float: left;
    width: 5%;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.login-panel .login{
    font-size: 1.2rem;
    margin: 45% auto 0px;
}
.login-panel .login b{
    color: white;
    font-size: 1.4rem;
}
.login-panel .login b:hover{
    color: #FFD77F;
    cursor: pointer;
}
.slider-box{
    height: 200px;
    background-color: black;
}
.slider-half-item{
    width: 50%;
    float: left;
    height: 100%;
    padding: 10px;
    font-family: cursive, Geneva;
}
.slider-half-item article{
    margin: 2rem;
}
.slider-half-item article{
    margin-top: 1rem;
}
.slider-half-item .button{
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    margin: 2px;
    font-size: 0.7rem;
}
.pizza-img{
    background-image: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.advantages-box{
    background-color: transparent;
    position: relative;
    min-height: 340px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
.advantages-one-third{
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 60px 0px 30px;
}
.column-advantage{
    position: relative;
    height: 160px;
    text-align: center;
    border: 5px solid black;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.best-ingredients{
    background-image: url(https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg);
}
.original-recipe{
    background-image: url(https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg);
}
.fast-delivery{
    background-image: url(https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg);
}
.kitchen-menu{
    background-color: black;
}
.menu-one-forth{
    width: 25%;
    float: left;
    font-family: cursive, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
.menu-one-forth img{
    width: 100%;
}
.page-footer {
    width: 100%;
    background-color: black;
    font-family: Cookie, cursive;
}
table.baza{
    margin: auto;
    width: 50rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    background-color: #d5a75a;
    color: black;   
}
table.baza thead{
    background-color: #000000;
    color: #ffffff;
    font-size: 1.7rem;
    min-height: 10px;
}
table.baza tr:hover{
    background-color: #3d3d3d;
    color: white;
}
table.baza input[type=text]{
    width: 6.25rem;
}
table.loguj{
    margin: auto;
    width: 12.5rem;
    padding: 10px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #232323;
    border-radius: 20px;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
}
table.loguj td{
    border: 0px solid black;
}
table.loguj input[type=text], input[type=password]{
    background-color: white;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
}
table.loguj input[type=submit]{
    border-radius: 20px;
    height: 30px;
    font-size: 1.1rem;
    background-color: white;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
}
table.loguj input[type=submit]:hover{
    background-color: #aeaeae;
    transform: scale(110%);
    border-radius: 20px;
    height: 30px;
    font-size: 1.1rem;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
}